VITE_SUPABASE_URL=https://qcegsedpgkquxdmrymxo.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjZWdzZWRwZ2txdXhkbXJ5bXhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1ODc4OTcsImV4cCI6MjEwMDE2Mzg5N30.yiIn5-LhmwLPGmHiPzQlMfnX74KHy4BSX9ZjgceDWi4
